#box52, #box53
{
    width: 22%;
    height: 46%;
    top: -22%;
    position: absolute;
    z-index: 1;
}

#box52
{
    
    left: 25%;
    border-left: 2px dashed black;
    border-bottom: 2px dashed black;
    border-top: 2px dashed black;
 
   
}
 #box53
{
    right: 26%;
    border-top: 2px dashed black;
    border-right: 2px dashed black;
    border-bottom: 2px dashed black;
   
}
#box1, #box2
{width: 15%;
    height: 10%;
    position: absolute;
}

#box31
{
    width: 30%;
    height: 10%;
    position: absolute;
    left: 34%;
    top: -5%;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    border-top: 2px dashed black;
    z-index: 1;
}
#box1
{
    
    left: 34%;
    top: 12%;
    border-left: 2px dashed black;
    /* border-right: 2px dashed black; */
    border-bottom: 2px dashed black;
    z-index: 1;
}
 #box2 
{
    
    right: 36%;
    top: 12%;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    border-bottom: 2px dashed black;
    z-index: 1;
}
 #box3
{
    width: 8%;
    height:8%;
    
    position: absolute;
    right: 47%;
    top: 19%;
    z-index: 2;
   
}


#box4, #box5, #box6,#box7  {
    width: 8%;
    height:8%;
    position: absolute;
    z-index: 2;
   

}


#box4
{
    right: 32%;
}
#box5
{
    right: 47%;
}

#box6
{
    left: 31%;
}

#box10, #box11, #box12  {
    width: 8%;
    height:8%;
    position: absolute;
    z-index: 2;
   top:42%;
    
  
}
#box10
{
    right: 22%;
   

}
#box11
{
    right: 47%;
   
}

#box12
{    left: 21%;
   
}
#box21, #box22
{
    width: 25%;
    height: 16%;
    position: absolute;
}

#box21
{
    
    left: 25%;
    top: 26%;
    border-top: 2px dashed black;
    border-left: 2px dashed black;
  
    z-index: 1;
}
#box22
{
    
    right: 26%;
    top: 26%;
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    border-top: 2px dashed black;
    z-index: 1;
}
#box23
{
    width: 49%;
    height: 15%;
    position: absolute;
    left: 25%;
    bottom: 37%;
     border-bottom: 2px dashed black;
     border-left: 2px dashed black;
     border-right: 2px dashed black; 
     z-index: 1;
}

#box51 {
    width: 8%;
    height:8%;
    position: absolute;
    z-index: 2;
  
    
  
}
#box51
{
    right: 47%;
    top: -27%;
}

